<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">

	<title>Gerência de eventos e convites</title>

	<!-- bootstrap - link cdn -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- incluindo css -->
	<link href="../css/style.css" rel="stylesheet">

	<!-- favicon -->
	<link rel="shortcut icon" href="images/favicon.ico" />
</head>

<body>
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<img src="../images/logo.png" />
			</div>

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/show">BASE DE DADOS</a></li>
					<li><a href="/eventos">EVENTOS</a></li>
					<li><a href="/eventos">LISTAS DE CONVIDADOS</a></li>
					<li><a href="/eventos">AGENDA PRESIDENTE</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h1>Realizar Convite</h1>
		<div class="row">
       		<div class="col-md-12">
    			<div class="jumbotron jumbotron-fluid">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
							Pesquisar<input type="text" id="myInput" style="max-width:200px" />
							</div>
				        	<div class="col-md-6">
				        		<h4><%= evento["nome"] %></h4>
				        	</div>
		        		</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
	        <hr>
	        <div class="table-responsive">
      			<table id="mytable" class="table table-bordred table-striped">
           			<thead>
                     	<th>Data</th>
                     	<th>Hora</th>
                     	<th>Endereço</th>
           			</thead>
					<tbody id="mytable_body">
						<tr>
						    <td><%= evento["data"] %></td>
						    <td><%= evento["hora"] %></td>
						    <td><%= evento["endereco"] %></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
		
	    
<!-- JQuery -->
<script src="../js/jquery-2.2.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="../js/table-bootsnip.js"></script>
	
</body>
</html>