<nav class="navbar fixed-bottom navbar-expand-md navbar-dark bg-primary w-auto">
  <a class="navbar-brand" href="#">
    <span class="fas fa-balance-scale d-inline-block align-bottom"></span> AMAERJ
  </a>
  <span class="navbar-text">
    Gerência de Eventos & Convites
  </span>
</nav>