<!DOCTYPE HTML>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gerência de eventos e convites</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css" >
	<link rel="stylesheet" href="/css/all.css" >
	<!-- favicon -->
	<link rel="shortcut icon" href="images/logo-amaerj.jpg" />
</head>

	<body>
		<% include menu.ejs%>
		<div class="container">
			<div class="row">
        		<div class="col-md-12">
			        <h4><%= tablename %></h4>
			        <div class="table-responsive">
              		<form action="/salvar" method="post" name="formsalvar">
              			<table id="mytable" class="table table-bordred table-striped">
                   			<thead>
				                <th>Tratamento</th>
			                    <th>Nome</th>
			                </thead>    
			                <tbody>
								<tr>
								    <td><input type="text" name ="tratamento" placeholder="TRATAMENTO"></td>
								    <td><input type="text" name ="nome" placeholder="NOME"></td>
								</tr>
							</tbody>
							
							<thead>
                   				<th>Sexo</th>
                   				<th>Cargo</th>
				                <th>Email</th>
			                </thead>
			                <tbody>
			                	<tr>
		                	 		<td><input type="text" name ="sexo"></td>
						    		<td><input type="text" name ="cargo"></td>
							    	<td><input type="text" name ="email"></td>
							   	</tr>
			                </tbody>

			                <thead>
			                	<th>Telefone</th>
                   				<th>Endereço</th>
				                <th>CEP</th>
			                </thead> 
			                <tbody>
			                	<tr>
			                		<td><input type="text" name ="telefone"></td>
								    <td>
								   		<textarea rows="4" cols="40" name="endereco"></textarea>
							   		</td>
								    <td><input type="text" name ="cep"></td>
								</tr>   
			                </tbody>   
		                      	
                   			<thead>
    							<th>Situação</th>
    							<th></th>
    							<th></th>
    						</thead>
    						<tbody>
    							<tr>
							   		<td>
							   			<input type="text" name="situacao">
							   			<input type="hidden" name="tipo" value="<%= tablename %>">
							   		</td>
							   		<td>
										<a href="javascript:history.back()"  class="btn btn-primary">CANCELAR</a>
									</td>
									<td>
							    		<button type="submit" class="btn btn-primary">SALVAR</button>
									</td>
								</tr>
    						</tbody>
							
						</table>
					</form>
        			</div>
    			</div>
    			
			</div>
		</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/all.js"></script>
<script src="/js/table-bootsnip.js"></script>
	
	</body>
</html>